Justice/Connected Services/NotariatService/NotariatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://reyestr.gov.az" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotariatService" targetNamespace="https://reyestr.gov.az" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttp_INotariatService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://reyestr.gov.az/Imports">
      <xsd:import schemaLocation="https://registryservice.gov.az:10443/NotariatService.svc?xsd=xsd0" namespace="https://reyestr.gov.az" />
      <xsd:import schemaLocation="https://registryservice.gov.az:10443/NotariatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://registryservice.gov.az:10443/NotariatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Registry.Core.Services.WCF.Models.RegistryNotariat.Request" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotariatService_GetOneDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDocument" />
  </wsdl:message>
  <wsdl:message name="INotariatService_GetOneDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="INotariatService_GetDeadPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeadPersons" />
  </wsdl:message>
  <wsdl:message name="INotariatService_GetDeadPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeadPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="INotariatService_GetDocumentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentList" />
  </wsdl:message>
  <wsdl:message name="INotariatService_GetDocumentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentListResponse" />
  </wsdl:message>
  <wsdl:message name="INotariatService_GetPersonByPin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByPin" />
  </wsdl:message>
  <wsdl:message name="INotariatService_GetPersonByPin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByPinResponse" />
  </wsdl:message>
  <wsdl:message name="INotariatService_AddPersonRelationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonRelationInfo" />
  </wsdl:message>
  <wsdl:message name="INotariatService_AddPersonRelationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonRelationInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="INotariatService">
    <wsdl:operation name="GetOneDocument">
      <wsdl:input wsaw:Action="https://reyestr.gov.az/INotariatService/GetOneDocument" message="tns:INotariatService_GetOneDocument_InputMessage" />
      <wsdl:output wsaw:Action="https://reyestr.gov.az/INotariatService/GetOneDocumentResponse" message="tns:INotariatService_GetOneDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeadPersons">
      <wsdl:input wsaw:Action="https://reyestr.gov.az/INotariatService/GetDeadPersons" message="tns:INotariatService_GetDeadPersons_InputMessage" />
      <wsdl:output wsaw:Action="https://reyestr.gov.az/INotariatService/GetDeadPersonsResponse" message="tns:INotariatService_GetDeadPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentList">
      <wsdl:input wsaw:Action="https://reyestr.gov.az/INotariatService/GetDocumentList" message="tns:INotariatService_GetDocumentList_InputMessage" />
      <wsdl:output wsaw:Action="https://reyestr.gov.az/INotariatService/GetDocumentListResponse" message="tns:INotariatService_GetDocumentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByPin">
      <wsdl:input wsaw:Action="https://reyestr.gov.az/INotariatService/GetPersonByPin" message="tns:INotariatService_GetPersonByPin_InputMessage" />
      <wsdl:output wsaw:Action="https://reyestr.gov.az/INotariatService/GetPersonByPinResponse" message="tns:INotariatService_GetPersonByPin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonRelationInfo">
      <wsdl:input wsaw:Action="https://reyestr.gov.az/INotariatService/AddPersonRelationInfo" message="tns:INotariatService_AddPersonRelationInfo_InputMessage" />
      <wsdl:output wsaw:Action="https://reyestr.gov.az/INotariatService/AddPersonRelationInfoResponse" message="tns:INotariatService_AddPersonRelationInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttp_INotariatService" type="tns:INotariatService">
    <wsp:PolicyReference URI="#BasicHttp_INotariatService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOneDocument">
      <soap:operation soapAction="https://reyestr.gov.az/INotariatService/GetOneDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeadPersons">
      <soap:operation soapAction="https://reyestr.gov.az/INotariatService/GetDeadPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentList">
      <soap:operation soapAction="https://reyestr.gov.az/INotariatService/GetDocumentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByPin">
      <soap:operation soapAction="https://reyestr.gov.az/INotariatService/GetPersonByPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonRelationInfo">
      <soap:operation soapAction="https://reyestr.gov.az/INotariatService/AddPersonRelationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotariatService">
    <wsdl:port name="BasicHttp_INotariatService" binding="tns:BasicHttp_INotariatService">
      <soap:address location="https://registryservice.gov.az:10443/NotariatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>