Justice/Connected Services/NotariatService/NotariatService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Registry.Core.Services.WCF.Models.RegistryNotariat.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Registry.Core.Services.WCF.Models.RegistryNotariat.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://registryservice.gov.az:10443/NotariatService.svc?xsd=xsd0" namespace="https://reyestr.gov.az" />
  <xs:complexType name="AddPersonRelationInfoReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="https://reyestr.gov.az" minOccurs="0" name="Relations" nillable="true" type="q1:ArrayOfRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddPersonRelationInfoReq" nillable="true" type="tns:AddPersonRelationInfoReq" />
</xs:schema>